<!DOCTYPE html>
<html>
<head>
    <title>Views Index</title>

    <!-- TODO: I got the mainfest thing from the following URL. So pls try to understand and add to the admin theme https://github.com/manojkm/static-website-webpack-boilerplate-->

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Static Website Boilerplate">
    <link rel="icon" sizes="192x192" href="/img/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Static Website Boilerplate">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/img/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#263238">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#263238">


</head>
<body>

<!-- jQuery 3-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>