/node_modules
/.sass-cache
/.htaccess
/app/deploy/*
/app/development/*
/app/source/vendor/*
/npm-debug.log
/cred.txt
/.idea/*
.idea/*
/tmp/*
/vendor/*
/vendors/*
/vendors-extensions/*
.DS_Store
/dist/*
*.log
