/* All of the other imports comes after the bootstrap so we can overwrite it ! */
@import "~bootstrap/scss/bootstrap"; /*tilda symbol (~) does the trick. That symbol allows you to access node_modules
folder so you can import the bootstrap.*/

@import 'variables';

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/ProximaNova-Light.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}


body {
  background: $blue;
}

p {
  font-size: responsive;
}

.hello {
  font-family: 'ProximaNova';
  color: red;
  background: url('../img/Makeup-icon.png');
}